{
  "plugins": ["prettier-plugin-astro"],
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "overrides": [
    { "files": "*.astro", "options": { "parser": "astro" } },
    { "files": "*.{json,yaml,yml,md,css}", "options": { "parser": "json" } }
  ]
}